/*CSS document*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}

img {
    width: 100%;
    display: block;
}

div.container, div.home-container {
    max-width: 50em;
    margin: 0 auto;
    background-color: #F3A2DB;
}

div.gallery-container {
    max-width: 60em;
    margin: auto;
    background-color: #F3A2DB;

}

nav {
    font-family: "helvetica-neue-lt-pro", sans-serif;
    font-weight: 300;
    font-style: normal;
    position: center;
    font-size: 1.5em;
    margin:0 0 1em 0.5em;
    text-transform: uppercase;
}

ul li {
    list-style-type: none;
    padding: 0 0 0.3em 0;
}

h1 {
    width: 100%;
    margin: 1em 0;
}

h2 {
    font-family: "helvetica-neue-lt-pro", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #000000;
    font-size: 3em;
    text-transform: uppercase;
}


section.mainstory h2 {
    color: #000000;
    font-size: 3em;
    padding-left: 0.2em;
    margin: 0;
    
}

section.secondary h2 {
    font-size: 2em;
    padding-left: 0.3em;
    line-height: 1.2em;
    padding-top: 0.5em;
}

section.tertiary h2 {
    font-size: 1.2em;
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: 0.2em;
    border-top: 1px solid #000000;
}

p {
    font-family: "tiffin-latin-variable", sans-serif;
    font-variation-settings: "wght" 300;
    color: #000000;
    padding: 0 0 2em 0.5em;
    line-height: 1.3em;
}

a {
    text-decoration: none;
    color: #000000;
}

figcaption {
    font-family: "tiffin-latin-variable", sans-serif;
    font-variation-settings: "wght" 300;
    font-style: italic;
    color: rgb(93, 93, 93);
    padding: 0.2em 0 1em 0.5em;
}

footer {
    background-color: #F3A2DB;
    font-family: "tiffin-latin-variable", sans-serif;
    font-variation-settings: "wght" 300;
    color: #000000;
    padding: 1em 0 1em 0.5em;
}

article h2 {
    padding: 0 0 0.1em 0;
}

article p {
    padding: 0 0 1em 0.5em;
    font-size: 1.2em;
}

aside {
    background-color: #defa0c;
}

aside figure {
    padding: 1em 0.5em 0;
}

aside section.secondary h2 {
    font-size: 1.2em;
    padding: 0.2em 0 0 0.5em;
}

aside section.secondary p {
    padding: 0 0.5em 1.5em;
}

div.gallery-container main {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
  }
  
div.gallery-container figure {
    margin: 0;
    width: calc(100%-2em);
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s;
  }
    input:nth-of-type(1):checked ~ main figure:nth-of-type(1),
    input:nth-of-type(2):checked ~ main figure:nth-of-type(2),
    input:nth-of-type(3):checked ~ main figure:nth-of-type(3),
    input:nth-of-type(4):checked ~ main figure:nth-of-type(4),
    input:nth-of-type(5):checked ~ main figure:nth-of-type(5),
    input:nth-of-type(6):checked ~ main figure:nth-of-type(6),
    input:nth-of-type(7):checked ~ main figure:nth-of-type(7),
    input:nth-of-type(8):checked ~ main figure:nth-of-type(8) {
    opacity: 1;
}

nav.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 0.2em;
}

div.gallery-container input {
  display: none;
}

.newsletter {
    grid-column: 1/3;
    max-width: 60em;
    margin: auto;
 }
 
 .newsletter h2 {
    font-family: "helvetica-neue-lt-pro", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 2.5em;
    color: #000000;
    margin-bottom: .2em;
 }
 
 .newsletter form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
 }
 
 .form-section {
    display: flex;
    flex-direction: column;
    gap: .5em;
 }


 .newsletter label,
 .newsletter h3,
 .newsletter p {
    color: #000000;
    font-family: "tiffin-latin-variable", sans-serif;
    font-variation-settings: "wght" 300;
 }
 .newsletter .checkboxes {
    display: flex;
    flex-direction: column;
    gap: .4em;
 }
 .newsletter input[type="text"],
 .newsletter input[type="email"] {
    width: 100%;
    box-sizing: border-box;
    padding: .7em;
 }
 
 .newsletter button {
    display: block;
    border: none;
    width: 100%;
    padding: 1em;
    margin-top: 1em;
    background: #defa0c;
    color: #4A4531;
    font-family: "tiffin-latin-variable", sans-serif;
    font-variation-settings: "wght" 300;
    font-size: 1.2em;
 }


@media screen and (min-width: 50em) {

    nav ul li{
		display: inline-block;
		padding: 0em 2em 0em 0em;
	}

    nav, h1, section.tertiary h2 {
        margin-left: 0;
    }

    section.mainstory h2, p, section.secondary h2, section.tertiary h2, article p, figcaption, article h2 {
        padding-left: 0;
    }
}


@media only screen and (min-width: 60em) {

    div.home-container {
        max-width: 80em;
        padding: 0 1em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
    }

    div.container {
        max-width: 80em;
        padding: 0 1em;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-gap: 1em;
    }

    div.gallery-container {
        max-width: 60em;
        padding: 0 1em;
      } 

    header, footer {
        grid-column: 1/3;
    }

    div.home-container main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
    }

    div.home-container aside {
        background: none;
        padding: 0;
        margin-top: 0;
    }

    div.container aside {
        margin-top: 0;
    }

    section.mainstory {
        grid-column: 2/4;
        grid-row: 1/3;
        display: flex;
    }

    section.mainstory a {
        flex: 1 0 12em;
        display: flex;
        flex-direction: column;
    }

    section.mainstory a figure {
        flex: 1 0 12em;
        display: flex;
    }

    section.mainstory a figure img {
        object-fit: cover;
    }

    section.mainstory a h2 {
        flex: 0 0 1em;
    }

    section.mainstory a p {
        flex: 0 0 4em;
    }

    section.secondary {
        display: flex;
    }

    section.secondary a {
        flex: 1 0 12em;
        display: flex;
        flex-direction: column;
    }

    section.secondary a figure {
        flex: 1 0 12em;
        display: flex;
    }

    section.secondary a figure img {
        object-fit: cover;
    }

    section.secondary a h2 {
        flex: 0 0 1em;
    }

    section.secondary a p {
        flex: 0 0 4em;
    }



}
