/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */

img {
    width: 100%; /*Please leave this line.*/
     display: block;
 
}

body {
    background-color: rgb(221, 221, 221);
}

div.container {
    width: 65em;
    margin: auto;
    background-color: rgb(255, 255, 255);
}

figure {
    display: grid;
    grid-template-columns: 5fr 1fr;
    padding-bottom: 2em;
}

main {
    display: grid;
    grid-template-columns: 3fr 3fr;
}


h1 { 
    font-family: Sutro, serif;  
    font-weight: 700;  
    font-style: normal;
    background-color: rgb(255, 140, 0);
	color: rgb(255, 255, 255); 
	font-size: 2.5em;
	padding: 1em .5em 0em;
	font-weight: bold;
}


h2 {
    font-family: Sutro, serif;  
    font-weight: 300;  
    font-style: normal;
    background-color: rgb(255, 140, 0);
	color: rgb(246, 220,188); 
	font-size: 1.9em;
	padding: .4em .6em .6em;

}

figcaption {
    font-family: poppins, sans-serif;  
    font-weight: 400;  
    font-style: italic;
    background-color: rgb(255, 255, 255);
    padding: 1em;
    
}

h3 {
    font-family: Sutro, serif;  
    font-weight: 400;  
    font-style: bold;
    margin:.5em .8em .01em;
    font-size: 1.2em;
    text-transform: uppercase;
    background-color: rgb(255, 255, 255);
	color: rgb(255, 140, 0);
    padding: .3em 1em .3em; 
    letter-spacing: .1em;
    padding-top: .5em;
    margin-bottom:0;
    border-top: 2px solid rgb(255, 140, 0);
	
	
}

ul {
    font-family: poppins, sans-serif;  
    font-weight: 400;  
    font-style: normal;
    background-color: rgb(255, 255, 255);
    padding: .3em 1em .3em;
    list-style-type: disc;
    margin-left: .4em;

}

li {
    margin-bottom: .7em;
}


ol { 
    font-family: poppins, sans-serif;  
    font-weight: 400;  
    font-style: normal;
    background-color: rgb(255, 255, 255);
    padding: .3em 1em 1em;
    list-style-type: decimal;
    margin-left: .4em;
}

footer {
    font-family: poppins, sans-serif;  
    font-weight: 400;  
    font-style: normal;
    background-color: rgb(255, 140, 0);
	color: rgb(255, 255, 255); 
    padding: 1em 1em 1em;
}

/*By the way, when we use the slash-asterisk combo, it’s a comment on the CSS and it’s meant for human beings. The machine knows it is not supposed to process anything until it finds a asterisk-slash combo that ends the comment on the CSS. */
